.adress {
    margin-top: 20px;

    @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
}

.adress__mail {
    margin-top: 9px;
}

.adress__phone {
    margin-top: 9px;
}

.footer {
    background-color: var(--bgc-gray);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-mail {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--link-color);
    text-decoration: none;
    transition: color 250ms var(--cubic-style);

&:hover,
&:focus {
    color: var(--accent);
}
}


.footer-phone {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--link-color);
    text-decoration: none;
    transition: color 250ms var(--cubic-style);

&:hover,
&:focus {
    color: var(--accent);
}
}

.site {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none;
}




.text-tagline {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;

    margin-bottom: 20px;
    
        @media screen and (max-width: 1199px) {
            text-align: center;
        }
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-social-web {
    display: flex;
    column-gap: 10px;
}

.social-web-content {
    display: block;
    margin-left: 70px;

    @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
}

.footer-social-web__link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: color 250ms var(--cubic-style),
        background-color 250ms var(--cubic-style);

&:hover,
&:focus {
    background-color: var(--accent);
}
}

.icon-footer {
    fill: var(--white-color);
}

.footer-box {
    display: flex;
    align-items: baseline;
    
    @media screen and (min-width: 768px) {
            display: flex;
    
            align-items: baseline;
        }
    
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 60px;
        }
    
        @media screen and (min-width: 1200px) {
            justify-content: space-between;
        }
}

.footer-container{
    @media screen and (max-width: 1199px) {
            text-align: center;
        }
}

.sign-up-form {
    display: flex;
    align-items: flex-end;
}

.sign-up-title {
    display: block;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--white-color);
}

.form-email {
    display: block;
    transition: border 250ms var(--cubic-style);

    padding: 15px 16px;
    margin-top: 20px;
    height: 50px;
    width: 358px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;

&::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
}

&:focus {
    border: 1px solid var(--accent);
    outline: none;
}
}

.form-btn {
    border: none;
    cursor: pointer;
    transition: background-color 250ms var(--cubic-style);

    min-width: 200px;
    padding: 10px 28px;
    margin-left: 12px;
    border-radius: 4px;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;

    background-color: var(--accent);
    color: var(--white-color);

&:hover,
&:focus {
    background-color: var(--hero-btn-bgc-hover);
}

    @media screen and (min-width: 1200px) {
    padding: 10px 32px;
}
}

.form-icon {
    margin-left: 10px;
}